<div class="mass-head tp-slider">
	<div class="tp-banner-container">
		<div revolution-slider class="tp-banner">
			<ul> 
				<!-- <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400">
                    <img src="assets/images/slider/revolution/1diwali.jpg" alt="">
					
					<div class="tp-caption large_bold_grey skewfromrightshort customout"
						data-x="left" data-hoffset="30"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">
					</div>

					<div class="tp-caption medium_thin_grey skewfromleftshort customout"
						data-x="285"
						data-y="122"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">
					</div>

					<div class="tp-caption medium_thin_grey skewfromrightshort customout"
						data-x="left" data-hoffset="30"
						data-y="175"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1000"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 6">
					</div>


                </li>   -->         
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400">
                    <img src="assets/images/slider/revolution/bg2.webp" alt="">
					
					<div class="tp-caption large_bold_grey skewfromrightshort customout"
						data-x="left" data-hoffset="30"
						data-y="96"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 4">
					</div>

					<div class="tp-caption medium_thin_grey skewfromleftshort customout"
						data-x="285"
						data-y="122"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="900"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 5">
					</div>

					<div class="tp-caption medium_thin_grey skewfromrightshort customout"
						data-x="left" data-hoffset="30"
						data-y="175"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1000"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 6">
					</div>

					<div class="tp-caption large_bold_grey skewfromleftshort customout"
						data-x="left" data-hoffset="30"
						data-y="152"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="300"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">Bright Retail PoS
					</div>

					<div class="tp-caption lightgrey_divider default-bg hidden-xs skewfromrightshort customout"
						data-x="25"
						data-y="224"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 2">
					</div>
					
					<div class="tp-caption subtitle customin customout"
						data-x="left" data-hoffset="30"
						data-y="240"
						data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 8">A complete package for retail business.
					</div>

					 <a class="tp-caption customin customout btn bg-success" href="contact.php"
                        data-x="left" data-hoffset="30"
                        data-y="290"
                        data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1400"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
                        data-easing="easeOutExpo">
                        Purchase Now!
                    </a> 
					
					<div class="tp-caption customin customout"
						data-x="right" data-hoffset="-30"
						data-y="25"
						data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="700"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						style="z-index: 3"><img src="assets/images/slider/revolution/man.webp" alt="Image 1">
					</div>

                </li>

                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400">
					<img src="assets/images/slider/revolution/bg2.webp" alt="">
					
					<div class="caption lfl title"
                         data-x="left" data-hoffset="30"
                         data-y="125"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutExpo">
                         Easy to use
                    </div>
					
					<div class="caption lfl subtitle"
                         data-x="left" data-hoffset="30"
                         data-y="200"
                         data-speed="700"
                         data-start="1100"
                         data-easing="easeOutExpo">
                         Business Management Software
                    </div>
					
					<div class="caption lfl slide_desc"
                         data-x="left" data-hoffset="30"
                         data-y="245"
                         data-speed="700"
                         data-start="1200"
                         data-easing="easeOutExpo">
                         A software to complete all of your needs and make you ready for GST.
                    </div>
					
					 <a href="contact.php"  class="tp-caption customin customout btn bg-success" 
                        data-x="left" data-hoffset="30"
                        data-y="310"
                        data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="700"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
                        data-easing="easeOutExpo">
                        Purchase Now!
                    </a>
					
					<div class="caption lfr" 
                         data-x="720" 
                         data-y="30" 
                         data-speed="1200" 
                         data-start="1500" 
                         data-easing="easeOutBack">
                         <img src="assets/images/gallery/listing-pc.webp" height="200px" alt="Image 1">
                    </div>
					
					<div class="caption lfr" 
                         data-x="480" 
                         data-y="210" 
                         data-speed="1200" 
                         data-start="2000" 
                         data-easing="easeOutBack">
                         <img src="assets/images/gallery/product-chart-laptop.webp" height="200px" alt="Image 1">
                    </div>
                    <div class="caption lfr" 
                         data-x="860" 
                         data-y="210" 
                         data-speed="1200" 
                         data-start="2000" 
                         data-easing="easeOutBack">
                         <img src="assets/images/gallery/reports-laptop.webp" height="200px" alt="Image 1">
                    </div>
                    
				</li>
                
                <li data-transition="fade" data-slotamount="1" data-masterspeed="700" data-delay="9400"  data-saveperformance="off">
					<img src="assets/images/slider/revolution/bg2.webp"  alt=""  data-bgposition="left center" data-kenburns="on" data-duration="10400" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">

					<div class="caption lfb slidetitle-2 fadeout"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="0"
						data-speed="600"
						data-start="500"
						data-easing="Power4.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.05"
						data-endelementdelay="0.1"
						data-endspeed="1000"
						data-endeasing="Power1.easeOut"
						style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">More Pages are comming soon
					</div>
					<div class="caption lfb subtitle fadeout"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="80"
						data-speed="600"
						data-start="500"
						data-easing="Power4.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.05"
						data-endelementdelay="0.1"
						data-endspeed="1000"
						data-endeasing="Power1.easeOut"
						style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Continuous updates..
					</div>
				</li>
			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
</div>

<div class="block-s2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 alert no-border">
				<div class="tc-box no-margin-bottom">
					<div class="media">
						<div class="icon-box pull-left">
							<i class="fa fa-compress"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Customer Support</h4>
							<p>We provide better solutions and good support to keep our customers in connect with us. Call, mail or meet us for support!</p>
							
							<!-- <div class="action-buttons">
								<a href="#" >See more <i class="fa fa-angle-double-right"></i></a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 alert no-border">
				<div class="tc-box no-margin-bottom">
					<div class="media">
						<div class="icon-box pull-left">
							<i class="fa fa-file-o"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Well Documented</h4>
							<p>We provide a clean and easy to understand documentation and help you understand things much faster and clearer.</p>
							
							<!-- <div class="action-buttons">
								<a href="#" >See more <i class="fa fa-angle-double-right"></i></a>
							</div> -->
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-primary note position-relative no-border">
				<div class="tc-box no-hover no-margin-bottom">
					<div class="media">
						<div class="icon-box pull-left">
							<i class="fa fa-edit text-white"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">On Demand Customization</h4>
							<p>We are providing on demand feature facility to our customers. So that they can get new features as per their requirement.</p>
							
							<div class="action-buttons">
								<sup>*</sup> T&C Apply 
							</div>
							
						</div>
					</div>
				</div>
				<div class="paper-clip"></div>
			</div>
		</div>
	</div>
</div>

<div class="block-s1 inverse notice marker-on-bottom no-margin-bottom">
	<div class="container">
		<div class="text-center">
			<h3>The complete & powerful software to improve and succeed your business</h3>
		</div>
	</div>
</div>


<div class="block-s2">
	<div class="container">
		<div class="col-lg-3 col-sm-6">
			<div class="pricing-table-1">
				<h3 class="plan-title">Basic Version</h3>
				<!-- <h4 class="plan-title">Starts from</h4> -->
				<span class="bigger-500" style="font-size:32px">Rs.12,000/-</span>
				<p class="plan-features">
					Basic version of business management software for any type of retail business to keep their sales and purchase records and maintain stock inventory.
				</p>
				<a href="contact.php" class="btn btn-success plan-button"><i class="fa fa-download"></i>Purchase</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="pricing-table-1 bg-primary">
				<h3 class="plan-title">Standard Version</h3>
				<!-- <h4 class="plan-title">Starts from</h4> -->
				<span class="bigger-500" style="font-size:32px">Rs.15,000/-</span>
				<p class="plan-features">
					It will have some additional features required and specially build for retail grossary business. To compete with bigger shopping malls by using realtime reports and building strategy.
				</p>
				<a href="contact.php" class="btn plan-button"><i class="fa fa-download"></i>Purchase</a>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<div class="tc-box">
				<div class="media">
					<div class="icon-box pull-left bg-success">
						<i class="fa fa-wrench"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Customization</h4>
						<p>We are providing this facility to all of our customers to come to us and let we know your requirement to make our software more powerful.</p>
						
					</div>
				</div>
			</div>
			
			<h3>FAQs</h3>			
			<div class="panel-group tc-accordion no-border" id="accordion2"><!-- Accordion style 2-->
				<div class="panel panel-default">
					<div class="panel-heading accordion-active">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
							<h5 class="panel-title">
								Why do we go for computerization, if everything is working fine? <span class="pull-right"><i class="fa fa-angle-down bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse in">
						<div class="panel-body">
							<p>It's need of the hour. It will help you to get ready for GST. It will provide you realtime reports to make quick decisions. It will make your work smarter, systematic and lot of benefits are there.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
							<h5 class="panel-title">
								Is it possible to maintain stocks in a cloth store?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseFive" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Definately, it is possible to maintain stocks in cloth stores. You can maintain your stock based on their types and mrp.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
							<h5 class="panel-title">
								Can we sell online?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseSix" class="panel-collapse collapse">
						<div class="panel-body">
							<p>No, currently we are not providing facility to sell your product online. In future, will provide this facility too.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
							<h5 class="panel-title">
								What to do if we have same product with multiple mrp?
								<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse">
						<div class="panel-body">
							<p>We have the features to manage multiple MRP, Price and Barcode also.</p>
							<span style="display:none">I am running a cloth store. Our customer always bargain with us and we have to keep our purchase price in mind to don't let go our customer and we sell our product according to that. Does your software have any feature for this? </p>How to manage sudden change in MRP or barcode of a product? What if I want to make an invoice but not to print?  What if I am not able to make invoice? How does it will help us after GST? I am running a retail grossary store. I have lot of product on which I can't stick barcode label. Then how to do that?</span> 
						</div>
					</div>
				</div>
			</div><!-- Accordion style 2-->					
		</div>
	</div>
</div>


<div class="block-s1 inverse notice marker-on-bottom">
	<div class="container">
		<div class="text-center">
			<h3>Screens of our Business Management Software "Bright Retail PoS"</h3>
		</div>
	</div>
</div>

<div class="block-s3">
	<wrap-owlcarousel class="owl-carousel owl-carousel-1 with-contents no-margin-bottom" data-options="{pagination: true,navigation: false}">
		<div class="slide-item">
			<div class="tools">
				<p>
					<a href="assets/images/gallery/create-product-laptop.png" colorbox="{transition:'fade', reposition:true, scalePhotos:true}" data-rel="colorbox">
						<i class="glyphicon glyphicon-fullscreen"></i>
					</a> 
					<!-- <a href="">
						<i class="fa fa-link"></i>
					</a> -->
				</p>
			</div>
			<img src="assets/images/gallery/create-product-laptop.webp" alt="" class="img-responsive">			
			<a class="contents" href="#">
				<span class="title">Product Managment</span>
				<small>Price, Barcode Management</small>
			</a>
		</div>
		<div class="slide-item">
			<div class="tools">
				<p>
					<a href="assets/images/gallery/listing-laptop.webp" colorbox="{transition:'fade', reposition:true, scalePhotos:true}" data-rel="colorbox" class="btn">
						Zoom
					</a> 
					<!-- <a href="" class="btn">
						View More
					</a> -->
				</p>
			</div>
			<img src="assets/images/gallery/listing-laptop.webp" alt="" class="img-responsive">

			<a class="contents" href="#">
				<span class="title">Products Lising</span>
				<small>List of products</small>
			</a>
		</div>
		<div class="slide-item">
			<div class="tools">
				<p>
					<a href="assets/images/gallery/billing-laptop.webp" colorbox="{transition:'fade', reposition:true, scalePhotos:true}" data-rel="colorbox" class="btn">
						Zoom
					</a>
				</p>
			</div>
			<img src="assets/images/gallery/billing-laptop.webp" style="height:150px" alt="" class="img-responsive">

			<a class="contents" href="#">
				<span class="title">Purchase & Sales</span>
				<small>Billing & Inventory</small>
			</a>
		</div>
		<div class="slide-item">
			<div class="tools">
				<p>
					<a href="assets/images/gallery/reports-laptop.png" colorbox="{transition:'fade', reposition:true, scalePhotos:true}" data-rel="colorbox">
						<i class="glyphicon glyphicon-fullscreen"></i>
					</a> 
					<!-- <a href="">
						<i class="fa fa-link"></i>
					</a> -->
				</p>
			</div>
			<img src="assets/images/gallery/reports-laptop.webp" alt="" class="img-responsive">

			<a class="contents" href="#">
				<span class="title">Reports</span>
				<small>Sales Reports</small>
			</a>
		</div>
		<div class="slide-item">
			<div class="tools">
				<p>
					<a href="assets/images/gallery/product-chart-laptop.png" colorbox="{transition:'fade', reposition:true, scalePhotos:true}" data-rel="colorbox">
						<i class="glyphicon glyphicon-fullscreen"></i>
					</a> 
					<!-- <a href="">
						<i class="fa fa-link"></i>
					</a> -->
				</p>
			</div>
			<img src="assets/images/gallery/product-chart-laptop.webp" alt="" class="img-responsive">

			<a class="contents" href="#">
				<span class="title">Analytics</span>
				<small>Product, Sales and Purchase analytics</small>
			</a>
		</div>
	</wrap-owlcarousel>		
</div>

<hr class="separator" />

<div class="block-s2" style="display:none">
	<div class="container">
		<div class="row">
			<!--Testimonials-->
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="testimonials">
				<h3>Testimonials</h3>	
				<div id="myCarousel-1" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="item active">
							<div class="testimonials-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</div>
							<div class="carousel-info">
								<img class="pull-left" src="assets/images/user-2.jpg" alt="">
								<div class="pull-left">
									<span class="testimonials-name">Elly Martel</span>
									<span class="testimonials-post">Red Publicity, LLC</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonials-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</div>
							<div class="carousel-info">
								<img class="pull-left" src="assets/images/user-3.jpg" alt="">
								<div class="pull-left">
									<span class="testimonials-name">Jack Sparrow</span>
									<span class="testimonials-post">Ztek Publicity, LLC</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonials-slide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</div>
							<div class="carousel-info">
								<img class="pull-left" src="assets/images/user-4.jpg" alt="">
								<div class="pull-left">
									<span class="testimonials-name">Maris Bradley</span>
									<span class="testimonials-post">New Publicity, LLC</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Carousel nav -->
					<a class="left-btn" href="#myCarousel-1" data-slide="prev"></a>
					<a class="right-btn" href="#myCarousel-1" data-slide="next"></a>
				</div>						
			</div>
			<!--Testimonials-->
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3>Latest News</h3>						
				<ul class="list-unstyled">
					<li>
						<h5><a href="#">A Blog Home Template for Bootstrap 3</a></h5>
						<p><small>15 April 2014, By eKoders</small></p>
					</li>
					<li>
						<h5><a href="#">4 Reasons Google Bought Waze</a></h5>
						<p><small>11 April 2014 By eKoders</small></p>
					</li>
					<li>
						<h5><a href="#">Burberry, Google Partner to Send Kisses Around the World</a></h5>
						<p><small>7 April 2014 By eKoders</small></p>
					</li>
					<li>
						<h5><a href="#">Silver City Is First in New Mexico</a></h5>
						<p><small>31 March 2014 By eKoders</small></p>
					</li>
				</ul>						
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<h3>Tweet</h3>						
				<ul class="list-unstyled">
					<li>
						<p>Irina from <a href="#">http://t.co/qBsJ2sIWKi</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit</p>
						<p><small>About 2 hours ago</small></p>
					</li>
					<li>
						<p>Zian from <a href="#">http://t.co/qBsJ2sIWKi</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut rutrum elit in arcu blandit</p>
						<p><small>About 3 hours ago</small></p>
					</li>
				</ul>						
			</div>
			
		</div>
	</div>
</div>
