.top-navbar .nav-top .navbar-nav>li>a.active {
	background-color:#089de3!important;
	border-color:#089de3;
	color:#fff;
	border: 1px solid transparent;
}
.required:after {
    content: " *";
    color: red;
}