<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>Career <small></small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li ui-sref="career" ui-sref-active="active">Career</li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>
		
			 <div class="headerWrapper">
    <div class="headerImage">
        
       
        <img width="1270" style = height:300px; class="img-responsive" src="assets/images/join.jpg"  >
        </div>
        </div>
        	<div class="block-s2">
        	    	<div class="container">
		
	
        	<form role="form" action="n-curl.php" method="get"  >
						<div class="form-group col-lg-4" >
                	        <label class="control-label required">
                                We Have vacancy for a marketting person.U can contact Us on phone number given above.
                                </label>
                                
                                <br><h6>T&C :- Graduation from any stream with good communication and adaptability.</h6>
                                <!--<div class="clearfix">
                                    <input type="number"  id="phone" name="phone" placeholder="Mobile number" class="form-control" minlength="10" maxlength="12" required>
                                </div>
-->        				</div>


<!--        				<div class="form-group col-lg-12"> 
								 <input type="submit"  value="submit"> 
							<button type="submit" value="submit"  onclick="submitted=true" isDisabled="isDisabled"  class="btn btn-primary"><i class="fa fa-send"></i>Submit  <span><i class="fa fa fa-spinner fa-spin"></i></span> 
							</button>
						</div>
				-->	</form>
					</div>
</div>
        
        