<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>Media <small></small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li ui-sref="career" ui-sref-active="active">Media</li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>

        <div class="block-s2 light">
			<div class="container">
				<!-- Team Member Profiles -->
				<div class="row">					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<!--<img style="width: 100%" src="../assets/images/user-1.jpg" />-->
							
                            <a target="_blank" href="https://www.goodfirms.co/software/bright-retail-pos">
                                <img align="middle" style="width:95%; padding: 10px;  border: 2px solid #0000A0;" src="https://goodfirms.s3.amazonaws.com/badges/color-badge/point-of-sale-software.svg" alt="GoodFirms Badge">
                            </a>
							<!--<div class="profile-card-details animate">-->
								<div class="profile-card-header">
									<h2>GoodFirms</h2>
									<!--<span>aka not a real person</span>-->
								</div>
							<!--	<div class="profile-card-detail">
									<p>What does this team member do? Please visit to the social link!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>-->
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<a target="_blank" href="https://www.justdial.com/Mumbai/Bright-Solutions-Near-S-T-Depo-Boisar/022PXX22-XX22-170525204520-N7H2_BZDET">
							    <img align="middle" style="width: 82%; padding: 10px;  border: 2px solid #0000A0;"  src="../assets/images/jd.png" alt="JustDial Logo"/>
							</a>
							<!--<div class="profile-card-details animate">-->
								<div class="profile-card-header">
									<h2>JustDial</h2>
									<!--<span></span>-->
								</div>
							<!--	<div class="profile-card-detail">
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>-->
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card" >
							
							<a target="_blank" >
							    <img align="middle" style="width: 82%; padding: 10px;  border: 2px solid #0000A0;"  src="../assets/images/linkedin.jpg" alt="JustDial Logo"/>
							</a>
							<!--<div class="profile-card-details animate">-->
								<div class="profile-card-header">
									<h2>Linkedin</h2>
									<!--<span></span>-->
								</div>
							<!--	<div class="profile-card-detail">
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>-->
						</div>
					</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<a target="_blank" >
							    <img align="middle" style="width: 82%; padding: 10px;  border: 2px solid #0000A0;"  src="../assets/images/indiamart.png" alt="JustDial Logo"/>
							</a>
							<!--<div class="profile-card-details animate">-->
								<div class="profile-card-header">
									<h2>IndiaMart</h2>
									<!--<span></span>-->
								</div>
							<!--	<div class="profile-card-detail">
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>-->
						</div>
					</div>
				<!-- Team Member Profiles -->

			</div>
		</div>
		

