<div class="mass-head inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<h1>Qustions and Answers <small>For You</small></h1>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<ol class="breadcrumb">
							<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
							
							<li ui-sref="qanda" ui-sref-active="active">Q & A</li>
							
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="block-s2">
			<!--CONTENT-->
		
				<!--(blog post)-->
				<h3>FAQs</h3>			
			<div class="panel-group tc-accordion no-border" id="accordion2"><!-- Accordion style 2-->

				<div class="panel panel-default">
					<div class="panel-heading accordion-active">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
							<h5 class="panel-title">
								Why Bright Solution? <span class="pull-right"><i class="fa fa-angle-down bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse in">
						<div class="panel-body">
							<p> We have more than 10 years of retail and wholesale experience and have used that experience to make our software more easy and convenient for our clients.It gives u many of Unique features to maintain, analyse, and grow your business with Easy to Use Graphical User Interface.Also, Quality in a service or product is not what we put into it,It is what you gets out of it.</p>
						</div>
					</div>
				</div>

				

				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
							<h5 class="panel-title">
								Why do we go for computerization, if everything is working fine?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseFive" class="panel-collapse collapse">
						<div class="panel-body">
							<p>It's need of the hour. It will help you to get ready for GST. It will provide you realtime reports to make quick decisions. It will make your work smarter, systematic and lot of benefits are there.</p>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
							<h5 class="panel-title">
								Do we need Internet Connection for the software?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseSix" class="panel-collapse collapse">
						<div class="panel-body">
							<p>No, This Software is Offline. So, it wont need internet to run software. </p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
							<h5 class="panel-title">							
							What are the benifits of offline software?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Because of the security measures of the data, We had made it offline.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
							<h5 class="panel-title">
								Bright Solutions provide software in what types of shops?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseEight" class="panel-collapse collapse">
						<div class="panel-body">
							<p>We provide Bright PoS for Retails, Distributors, WholeSalers as well as in Garment stores too.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
							<h5 class="panel-title">
								What are the minimum system requirement to run Bright Solutions software?
								<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseNine" class="panel-collapse collapse">
						<div class="panel-body">
							<p>You don't need any high level specification to run this software.Any normal PC or laoptop is sufficient.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
							<h5 class="panel-title">
								Do Bright Solutions provide free trial?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapseTen" class="panel-collapse collapse">
						<div class="panel-body">
							<p>No, Currently we don't provide free trail.But You can contact us for Demo.</p>
						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
							<h5 class="panel-title">
								Does Bright Solutions provide regular software update?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapse11" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Definately, We provide time to time updates.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
							<h5 class="panel-title">
								What makes Bright PoS different from billing software?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapse12" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Our Bright PoS is a Bussiness Management Software which differs from accounting software and has many of features including Analytics, Inventory Management, Dailysnapshots, Reports, Easy Billing with multiple MRPs and Multiple Barcode on a same products and much more which not only helps to maintain bussiness and keeping records but also its features helps us to grow your bussiness as well. 
							</p>
						</div>
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
							<h5 class="panel-title">
								How Bright Software helps us to grow business?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapse13" class="panel-collapse collapse">
						<div class="panel-body">
							<p>It shows systematic analysis of data using catagorising by products,date as well as by customers and much more on a button click.This will help to take proper measures to grow your bussiness.Also it saves your time which you can utilize in other productive work. </p>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
							<h5 class="panel-title">
								Can we buy online?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapse15" class="panel-collapse collapse">
						<div class="panel-body">
							<p>No, currently we are not providing facility to sell our product online. In future, will provide this facility too.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
							<h5 class="panel-title">
								Is it possible to maintain stocks in a cloth store?<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapse14" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Definately, it is possible to maintain stocks in cloth stores. You can maintain your stock based on their types and mrp.</p>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading ">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapse16">
							<h5 class="panel-title">
								What to do if we have same product with multiple mrp?
								<span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
							</h5>
						</a>
					</div>
					<div id="collapse16" class="panel-collapse collapse">
						<div class="panel-body">
							<p>We have the features to manage multiple MRP, Price and Barcode also.</p>
							<span style="display:none">I am running a cloth store. Our customer always bargain with us and we have to keep our purchase price in mind to don't let go our customer and we sell our product according to that. Does your software have any feature for this? </p>How to manage sudden change in MRP or barcode of a product? What if I want to make an invoice but not to print?  What if I am not able to make invoice? How does it will help us after GST? I am running a retail grossary store. I have lot of product on which I can't stick barcode label. Then how to do that?</span> 
						</div>
					</div>
				</div>
			</div><!-- Accordion style 2-->		
				<!--//(blog post)-->
				
			<!--CONTENT-->
			</div>
		</div>