<div class="headerWrapper">

    <div class="headerImage">
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <img width="1366" height="250" src="https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2.jpg" class="headerImage-image" alt="" srcset="https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2.jpg 1400w, https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2-300x54.jpg 300w, https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2-768x137.jpg 768w, https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2-1024x183.jpg 1024w, https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2-400x71.jpg 400w, https://www.orbitmedia.com/wp-content/uploads/2010/07/header-team-2-670x120.jpg 670w" sizes="(max-width: 1400px) 100vw, 1400px" />
        </div>
</div>
<div class="block-s2">
			<div class="container">
				<center>
				    <div class="row">
				<!--	<img width="30px" src="assets/images/logo.png">
					<img width="200px" src="assets/images/logo_name.png">
				-->	
				<h1>Our Team</h1>
				</div>
					<div>
					    <p style="font-size: 20px; padding: 10px;">“Meet the Brighters,a team of wicked, smart and dedicated website and software experts.”</p>
					</div>
				</center>
			</div>
		</div>
		
		
		<div class="block-s2 light">
			<div class="container">
				<!-- Team Member Profiles -->
				<div class="row">					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-1.jpg" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
									 <!-- Description  -->
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-2.jpg" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
									<!-- Description  -->
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-3.webp" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
								 <!-- Description  -->
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="profile-card">
							<img style="width: 100%" src="assets/images/user-4.webp" />
							<div class="profile-card-details animate">
								<div class="profile-card-header">
									<h4>Johan Smith</h4>
									<span>aka not a real person</span>
								</div>
								<div class="profile-card-detail">
								 <!-- Description -->
									<p>What does this team member do? Keep it short! This is also a great spot for social links!</p>

									<ul class="social">
										<li>
											<a href="#facebook-profile" class="btn btn-facebook btn-sm tooltip-primary " data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#twitter-profile" class="btn btn-twitter btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter icon-only bigger-110"></i></a>
										</li>
										<li>
											<a href="#google-plus-profile" class="btn btn-googleplus btn-sm tooltip-primary" data-toggle="tooltip" data-rel="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus icon-only bigger-110"></i></a>
										</li>
									</ul>
						
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<!-- Team Member Profiles  -->
		</div>
		</div>
		